services:
  banco_imobiliario_db:
    image: mysql:5.7
    container_name: banco_imobiliario_db
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - '3306:3306'
    volumes:
      - banco_imobiliario_mysql_data:/var/lib/mysql
    networks:
      - banco_imobiliario_network

  banco_imobiliario_backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.production
    container_name: banco_imobiliario_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - '3000:3000'
      - '3002:3002'
    depends_on:
      - banco_imobiliario_db
    networks:
      - banco_imobiliario_network
    volumes:
      - banco_imobiliario_backend_logs:/log
    command: sh -c "npx prisma migrate deploy && npx prisma generate && npx prisma db seed && npm start"

  banco_imobiliario_frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.production
    container_name: banco_imobiliario_frontend
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=8080
    ports:
      - "8080:8080"
    networks:
      - banco_imobiliario_network

  # nginx:
  #   image: nginx:1.25-alpine
  #   container_name: banco_imobiliario_nginx
  #   restart: always
  #   ports:
  #     - "8081:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf:ro
  #   depends_on:
  #     - banco_imobiliario_frontend
  #     - banco_imobiliario_backend
  #   networks:
  #     - banco_imobiliario_network

volumes:
  banco_imobiliario_mysql_data:
  banco_imobiliario_backend_logs:

networks:
  banco_imobiliario_network:
    driver: bridge

# validate configuration: docker-compose config
# bring up the services: docker-compose up --build
# bring down the services and remove volumes: docker-compose down -v

# Check hemotrack_backend_logs:
#   docker exec -it hemotrack_backend bash
#   ls /log
#   cat /log/yourfile.log
